<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <%= form_tag({controller: "tops", action: "list" }, {method: "get", class: "card card-sm"}) do %>
            <div class="card-body row no-gutters align-items-center">
            <i class="fa fa-search"></i>
                <div class="col-auto">
                    <i class="icon-magnifying-glass h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <%= text_field_tag :word, "", class: "form-control form-control-lg form-control-borderless", placeholder: "Search topics or keywords"  %>
                    
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        <% end %>
    </div>
    <!--end of col-->
</div>