// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// stylelint-disable selector-no-qualifying-type
.form-control-borderless {
  border: none;
}

.btn-success {
  background-color: #1db777;
}

input[type="text"]:focus {
  outline: 0;
  border-color: orange;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset,
    0 0 0px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
